.toast-container {
  position: fixed;
  top: 0;
  right: 10px;
  width: 100%;
  z-index: 99;

  @media(min-width: $reflex-md) {
    width: auto;
  }
}

.toast {
  @extend .sombra-media;
  @extend .animated;
  @extend .rotateInDownRight;
  animation-duration: .45s !important;
  border-radius: 6px;
  cursor: pointer;
  margin: 15px 0;
  overflow: hidden;
  padding: 10px;
  padding-left: 50px;
  position: relative;
  width: 100%;
  z-index: 99;

  @media(min-width: $reflex-md) {
    width: 300px;
  }

}

.toast-title {
  @extend %serif;
  font-size: 1.2;
  font-weight: bold;
}

.toast-message {
  @extend %sans;
  color: $negro4;
  font-size: small;
}

@mixin estilo-alerta($color, $icono, $animacion) {
  background: transparentize($grise, .05);
  border-bottom: 8px solid $grise;

  &::before {
    @extend .animated;
    @extend #{$animacion};
    @extend %font-awesome;
    color: $color;
    content: $icono;
    font-size: 2em;
    left: 13px;
    position: absolute;
    text-shadow: 0 2px 2px transparentize($negro4, .5);
    top: 13px;
  }

  .toast-title {
    color: $color
  }
}

.toast-success {
  @include estilo-alerta($verde-vivo, "\f00c", ".tada");
}

.toast-info {
  @include estilo-alerta($celeste-vivo, "\f129", ".pulse");
}

.toast-warning {
  @include estilo-alerta($ambar-vivo, "\f071", ".shake");
}

.toast-error {
  @include estilo-alerta($rosado-vivo, "\f0f3", ".swing");

  &::before{
    @extend .infinite;
  }
}
