@import "forms/common";
@import "forms/checkbox";
@import "forms/radios";
@import "forms/switch";

.form {
  width: 100%;
}

.form__group {
  margin: .5em 0;
  padding: .3em 0;
}

.form__label,
.form__input,
.form__error-message {
  @extend %sans;
}

.form__label {
  cursor: pointer;
  color: $gris8;
  font-size: .75em;
  position: relative;
}

.form__input {
  @extend %sans;
  background: transparent;
  box-shadow: 0 3px 2px -2px transparentize($azul-opaco, .7);
  border:0;
  border-bottom: 1px solid $gris8;
  color: $negro4;
  font-size: 1em;
  padding: .25em 0;
  resize: none;
  width: 100%;
  font-style: normal;
  font-variant: normal;
  text-rendering:optimizeLegibility;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;

  &:autofill {
    background-color: transparent !important;
  }

  &:focus,
  &:active {
    border: 0;
    color: $azul-opaco;
    border:0;
    border-bottom: 1px solid $azul-vivo;
    box-shadow: 0 3px 2px -2px transparentize($azul, .7);
    outline-color: transparent;
  }

  &:focus + .form__label,
  &:active + .form__label {
    color: $azul;
  }

  &:disabled {
    border-bottom: 1px dotted $grisc;
    color: $grisa;
    box-shadow: 0 0 0 $negro;
    cursor: not-allowed;

    &:focus,
    &:active {
      outline-color: transparent;
      box-shadow: 0 0 0 $negro;
    }
  }
}

p.form__input{
  @extend %serif;
  background: transparent;
  box-shadow: 0 0 0 0 $sombra1;
  border: 0;
  padding: .5em 0;

  &:focus,
  &:active {
    border: 0;
    background: transparent;
    border: 0;
    box-shadow: 0 0 0 0 $sombra1;
  }
}

.form__group--error {
  .form__label {
    @extend .animated;
    @extend .rubberBand;
    animation-duration: 1.3s !important;
    color: $tomate-vivo;
    display: block;

    &::before {
      @extend %font-awesome;
      content: "\f06a";
      padding-right: .5em;
    }
  }

  .form__input {
    box-shadow: inset 0 -2px 0 $tomate-vivo;
  }
}

.form__error-message {
  color: $tomate-vivo;
  font-size: .9em;
  text-align: center;
}

.form__group--inline {
  align-items: baseline;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.form__input-group {
  display: flex;

  .boton {
    border-radius: 0;
    box-shadow: 0 0 0;

    &:first-child {
      border-top-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
    }
  }

  .form__input-group__addon {
    background: transparent;
    @extend .form__input-group__addon--default;
  }

  .form__input-group__addon--color {
    background: $grise;
    @extend .form__input-group__addon--default;
  }
}

.form__input-group__addon--default {
  border-bottom: 1px solid $grisa;
  color: $gris8;
  padding-top: 10px;
  text-align: center;
  width: 10%;
}
