.tabs {
  background: darken($gris-fondo, 5%);
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  border-radius: 5px;
  box-shadow:
    0 2px 2px -1px $sombra1,
    0 4px 5px -3px $sombra2,
    0 6px 1px -5px $sombra3;
}


.tabs__tab {
  @extend .text--center;
  @extend %sans;
  background: transparent;
  box-shadow: inset 0 -5px 6px -3px $sombra1,
    inset 0 5px 6px -3px transparentize($blanco, .5);
  cursor: pointer;
  flex-basis: 0;
  flex-grow: 1;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:not(:last-child){
    border-right: 1px solid darken($gris-fondo, 10%);
  }

  span {
    display: none;
  }

  @media(min-width: $reflex-md) {
    span {
      display: inline;
    }
  }

}

.tabs__tab--active {

  background: $magenta;

  color: $blanco;
  pointer-events: none;
}

.tabs__tab--disabled {
  background: darken($gris-fondo, 15%);
  color: darken($gris-fondo, 35%);
  box-shadow: inset 0 -5px 6px -3px transparentize($blanco, .8),
    inset 0 5px 6px -3px darken($sombra3, 15%);
  cursor: not-allowed;
  pointer-events: none;
}
