before_script:
  - . ~/.nvm/nvm.sh
  - nvm use 8.9.4
  - npm install -g forever

cache:
  paths:
    - node_modules/

stages:
  - deploy

deploy_desarrollo:
  stage: deploy
  script:
    - npm install
    - npm run build
    - rsync -rlDv --delete * /software/lab-carlos-araya/backend/
    - sh /software/lab-carlos-araya/backend/produccion.sh
  environment:
    name: desarrollo
    url: ciriscr.com:3001
  only:
  - desarrollo
