html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$reflex-md: 992px !default;

html,
body,
main {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.calendarioSinEventos {
  .cal-wrapper {
    width: 50% !important;
    padding: 0 !important;
    margin: 0 25% !important;
  }
  .events-wrapper {
    display: none !important;
  }
}
